body{
padding: 0;
margin: 0;
background-color: 0;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(99, 91, 91);
    justify-content: center;
}

header nav ul{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

header nav ul li{
    list-style: none;
    margin-left: 15px;
}

header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: medium;
}

.wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: 100px;
}

.box1{
    background-color: #ECF0F1;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #2c3e50;
}

.box2{
    background-color: #3498DB;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
}

.box3{
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box4{
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box5{
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}